* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    line-height: 1.2;
}
header {
    background-color: #999999;
    height: 150px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
}
.block-from-above {
    background-color: #FFCCAA;
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 28px;
}
.content {
    max-width: 1170px;
    margin: 0 auto;
}
.bloc1{
    width: 100%; 
    height: auto;
    
}
.bloc1 h2, .bloc2 h2, .bloc3 h2 {
    background-color: #FFAAAA;
    padding: 20px;
    text-align: center;
    font-size: 28px;
}
.bloc1-text, .text-admin {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
}
.bloc1-text {
    background-color: #37C8AB;
}
.bloc2{
    background-color: #FFAAAA;
    width: 1170px;
    height: auto;  
}
.bloc-image {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 14px;
    column-gap: 23px;
    margin-right: 14px;
    
}
.image {
    background-color: #5599FF;
    height: 360px;
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}
.descript-image {
    background-color: #5599FF;
    height: 360px;
    width: 765px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 33px;
}
.bloc3{
    background-color: #FFAAAA;
    width: 1170px;
    height: 430px;
}
.text-admin {
    background-color: #FFB380;
}
footer {
    background-color: #4D4D4D;
    color: #F9F9F9;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 28px;
}
